.bold-text {
  font-weight: bold;
  padding-right: 5px;
}

.form-input {
  width: 300px;
  margin-right: 5px;
}

.pending-order {
  color: #ff0000;
}

.fulfilled-order {
  color: #7bb71f;
}

.blue-text {
  color: blue;
}

.orange-text {
  color: orange;
}

body {
  background-color: #d0d0d0;
  padding: 0px;
  margin: 0px;
  max-width: 100%;
  overflow-x: hidden;
}

.qrcode {
  float: right;
  margin: 50px;
}
