.bold-text {
  font-weight: bold;
  padding-right: 5px;
}

.form-input {
  width: 300px;
  margin-right: 5px;
}

.pending-order {
  color: #ff0000;
}

.fulfilled-order {
  color: #7bb71f;
}

.blue-text{
  color: blue;
}

.orange-text{
  color: orange;
}

body{
  background-color: #D0D0D0;
  padding:0px;
  margin:0px;
  max-width: 100%;
  overflow-x: hidden;
}